.navbar {
    background-color: #333;
    color: black;
    padding: 10px;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}



.nav-item {
    margin-right: 10px;
}

.logo {
    margin-right: auto;
}

#koala-notes-logo {
    max-width: 200px;
}

#koala-notes-logo:hover {
    cursor: pointer;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-link:hover {
    background-color: #555;
    border-radius: 5px;
}

header {
    background-color: #333;
    color: white;
    padding: 0 50px;
}