.App {
  text-align: center;
}

body {
  background-color: #ddd;
  min-height: 100%;
}

html {
  height: 100%
}

#root {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensure app-container fills the viewport height */

  margin: 0 auto;
}

main {
  padding: 20px;
}

.main-content {
  flex: 1;
  /* Grow to take up remaining space */
  overflow-y: auto;
  /* Enable scrolling for main content if needed */
  display: flex;
  justify-content: center;
}