.note-detail-page {
    flex: 1; /* Grow to take up remaining space */
    overflow-y: auto; /* Enable scrolling for main content if needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #delete-btn {
    background-color: rgb(207, 66, 66);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #f0f0f0;
    width: 80px;
  }
  
  #delete-btn:hover {
    cursor: pointer;
    background-color: #656565;
  }
  
  #edit-btn {
    background-color: rgb(66, 153, 207);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #f0f0f0;
    width: 80px;
  }
  
  #edit-btn:hover {
    cursor: pointer;
    background-color: #656565;
  }