.note-detail-page {
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #delete-btn {
    background-color: #910505;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 50%;
  }
  
  #delete-btn:hover {
    cursor: pointer;
    background-color: #656565;
  }
  
  #edit-btn {
    background-color: #056591;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 50%;
  }
  
  #edit-btn:hover {
    cursor: pointer;
    background-color: #656565;
  }